@import "../../../styles/variables";

.itemTimeline {
  display: flex;
}

.tMetaDate {
  padding: 10px;
  width: 30%;
}

.tDot {
  position: relative;
  border-color: $primary;
  margin-left: 10px;
  padding-top: 10px;
  padding-right:10px;
}

.tDotLiquidation {
  position: relative;
  border-color: $primary;
  margin-left: 10px;
  padding-top: 10px;
  padding-right:10px;
}

.tDot::after {
  content: "";
  position: absolute;
  border-left: 2px solid #1b2e4b;
  transform: translateX(-50%);
  width: 0;
  height: auto;
  top: 42px;
  left: 37%;
  bottom: -15px;
  border-radius: 0;
}

.tDotLiquidation::after {
  content: "";
  position: absolute;
  border-left: 2px solid #1b2e4b;
  transform: translateX(-50%);
  width: 0;
  height: auto;
  top: 74px;
  left: 37%;
  bottom: -15px;
  border-radius: 0;
}

.tText {
  padding: 10px;
  align-self: center;
}

.etherscan {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 10px;
}

.line:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100px;
  background: $primary;
  border-radius: 50%;
  top: 65px;
  left: 30px;
}
